@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#1e1e1e] text-white overflow-hidden h-screen w-screen m-0 p-0;
  }

  /* Custom Scrollbar for dark theme */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #252526;
  }

  ::-webkit-scrollbar-thumb {
    background: #424242;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #4f4f4f;
  }
}